.xbox.white {
    background: url(https://svgshare.com/i/RFJ.svg);
}

.xbox .back, .xbox .start {
    background: url(https://svgshare.com/i/RD2.svg);
    width: 33px;
    height: 33px;
    opacity: 0;
}

.xbox .button {
    position: absolute;
    background: url(https://svgshare.com/i/REe.svg);
    width: 48px;
    height: 48px;
}

.xbox .face {
    background: url(https://svgshare.com/i/REf.svg);
    position: absolute;
    opacity: 0;
}
